.some-class {
  width: 100px;

  &:global(.suffix-should-be-ignore) {
    height: 100%;
  }

  &:global {
    &.suffix-should-be-ignore-too {
      width: 101%;
      &:local {
        &.suffix-should-be-renamed {
          width: 102%;
        }
      }
    }
  }

  :global { // classNames after :global would not be rename
    .should-be-ignore {
      width: 100px;

      :local {
        .should-not-be-ignore-too {
          width: 99px;
        }
      }
    }

    :local {
      .should-not-be-ignore {
        width: 99px;
      }
    }
  }
}

.some-class:not(.disabled) {
  background-color: gray;
}

:global { // classNames after :global would not be rename
  html, body {
    margin: 0;
  }
}

:global { // classNames after :global would not be rename
  .should-be-ignore-too {
    width: 100px;
  }
}
