.some-class {
  width: 100px;

  :global { // classNames after :global would not be rename
    .should-be-ignore {
      width: 100px;
    }
  }
}

.some-class:not(.disabled) {
  background-color: gray;
}

:global { // classNames after :global would not be rename
  html, body {
    margin: 0;
  }
}

:global { // classNames after :global would not be rename
  .should-be-ignore-too {
    width: 100px;
  }
}
